.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  text-align: center;
}

.logo-wrapper-form {
  margin: 0 auto;
  margin-bottom: 48px;
}

.logo-wrapper-form:hover {
  cursor: pointer;
}

.logo-image-form {
  height: 24px;
  object-fit: contain;
  padding-right: 8px;
}

.logo-text {
  font-family: "sifonn", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.prev-button {
  margin: 0 8px;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-image {
  height: 180px;
  object-fit: contain;
}

.ant-card-bordered {
  border: 1px solid #2b137d !important;
}

.ant-card-small {
  width: 120px !important;
}

@media (max-width: 767px) {
  .card-image {
    height: 100px;
  }

  .form-wrapper {
    padding-top: 8px;
  }

  .logo-wrapper-form {
    margin-bottom: 0;
  }

  .logo-image-form {
    height: 20px;
    object-fit: contain;
    padding-right: 8px;
  }
  .logo-text {
    font-family: "sifonn", sans-serif;
    font-size: 14px;
    line-height: 14px;
  }
}
