.pricing-container {
    display: flex;
    flex-direction: column;
    margin-top: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-component {
    display: flex;
    flex-direction: row;
}

.sign-up-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 16px 32px 16px;
    font-family: 'Karla', sans-serif;
}

.sign-up-wrapper {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    text-align: center;
}

.logo-wrapper-form {
    margin: 0 auto;
    margin-bottom: 48px;
}

.logo-wrapper-form:hover {
    cursor: pointer;
}

.subtitle-2 {
    margin-top: 84px;
}
.logo-image-form {
    height: 24px;
    object-fit: contain;
    padding-right: 8px;
}

.logo-text {
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    text-transform: lowercase;
}

.prev-button {
    margin: 0 8px;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
    max-width: 80%;
}

.event-card {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 24px 24px 24px;
    box-shadow: 31px 31px 64px 0 rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 24px;
    transition: 300ms ease;
    max-width: 300px;
}

.pricing-card {
    justify-content: initial;
    padding: 0;
    min-height: 480px;
}

.pricing-details {
    position: relative;
    padding: 16px 0;
    color: #656565;
}

.pricing-list {
    list-style-type: none;
    padding: 0;
}

.pricing-list-item {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
}

.pricing-list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: #dfe5eb;
}

.pricing-list-item:last-of-type::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: #dfe5eb;
}

.pricing-icon {
    background-color: #e9d8fd;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    padding: 4px;
    color: #fff;
    margin: 12px;
}

.pricing-header {
    position: relative;
    padding: 24px 24px 0 24px;
    border-radius: 16px 16px 0 0;
}

.offer-pill {
    background-color: rgb(255, 51, 153);
    border-radius: 24px;
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, -50%);
    margin-left: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.pricing-free {
    background-color: #2a2c44;
}

.event-card-active {
    border: 2px solid;
}

.event-card:hover {
    transform: translateY(-8px);
}

.card-image-container {
    border-radius: 24px;
}

.card-image {
    width: 180px;
    object-fit: contain;
    padding: 16px;
    object-fit: contain;
}

.card-title {
    margin: 18px 0;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: #553c9a;
}

.card-title-pricing {
    margin: 18px 0;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.title-free {
    color: #fff;
}

.card-pricing-description {
    color: #555;
}

.description-free {
    color: #fff;
}

.select-plan-button {
    margin-top: auto;
    border-radius: 0 0 16px 16px;
    height: 50px;
}

.price-text {
    color: #6b46c1;
    font-size: 52px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.month-span {
    opacity: 0.5;
    font-size: 16px;
    color: #888888;
}

.price-text-free {
    color: #fff;
}

.price-button {
    position: absolute;
    width: 100%;
    padding: 20px 35px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 32px 64px rgba(43, 43, 82, 0.24);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #111;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.button-free {
    background-color: #6a4ee1;
    color: #fff;
}

@media (max-width: 767px) {
    .card-image {
        height: 100px;
    }

    .form-wrapper {
        padding-top: 24px;
    }

    .logo-wrapper-form {
        margin-bottom: 0;
    }

    .logo-image-form {
        height: 20px;
        object-fit: contain;
        padding-right: 8px;
    }
    .logo-text {
        font-family: 'Vollkorn', serif;
        font-size: 14px;
        line-height: 14px;
    }
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: #2b137d !important;
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: #2b137d !important;
}

.ant-calendar-input-wrap {
    display: none;
}

.ant-input-affix-wrapper,
.ant-picker {
    padding: 8px 16px !important;
    border-radius: 8px !important;
}

.ant-input-number {
    border-radius: 8px !important;
    padding: 2px 0;
}

.get-started-button {
    width: initial;
    display: flex;
    align-items: center;
    padding: 12px 24px;
}

.arrow-icon {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    padding: 4px;
    color: #fff;
    margin: 8px;
}

.pricing-title {
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    font-weight: 700;
}

.notes-column {
    vertical-align: baseline;
    margin-top: 80px;
}
