.events-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.row-sub-list {
    list-style-type: none;
}

.row-sub-list-img {
    height: 0px;
}

.row-sub-list-img.revealed {
    height: 80px;
    border-radius: 12px;
}

.row-pill {
    text-transform: uppercase;
    border-radius: 18px;
}

.row-image {
    height: 84px;
}

.loved-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.loved-one-image {
    height: 48px;
    width: 48px;
}

.loved-one-content {
    margin-left: 8px;
}

.loved-one-name {
    color: '#404346' !important;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.loved-one-age {
    color: '#90919E' !important;
    margin: 0;
}

.ant-table-cell {
    border-bottom: 1px solid #f0f0f0 !important;
}

.event-calendar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.calendar {
    height: 84px;
    width: 84px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-bottom: 12px;
}

.calendar-month {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.calendar-day {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    margin-top: 8px;
}

.gifts-container {
    display: flex;
    max-width: 320px;
    flex-wrap: wrap;
}

.gift-idea-wrapper {
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 12px;
    align-items: center;
    max-width: 150px;
    margin: 0 8px 16px 0;
    transition: 200ms ease;
}

.gift-idea-wrapper:hover {
    transform: translateY(-3px);
}

.gift-idea {
    display: flex;
    padding: 4px;
    align-items: center;
}

.gift-idea-icon {
    margin-right: 12px;
}

.text-area-wrapper.ant-input {
    /* border: 2px solid #d9d9d9; */
    border-radius: 12px;
}

.text-area-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    padding: 12px;
    background-color: #f5f8fb;
    margin: 84px 0;
}

.text-area-text {
    color: #667eea;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 0;
}

.ant-table-content {
    font-family: 'Karla', sans-serif;
    letter-spacing: -0.02em;
    /* font-size: 18px; */
}

.notes-column {
    vertical-align: baseline !important;
}

.ant-table-wrapper {
    margin: 0;
}

.gifts-response-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.gift-response-item {
    display: flex;
    align-items: center;
}

.people-card {
    position: relative;
    font-family: 'Karla', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 24px 24px 0;
    box-shadow: 0 10px 15px -3px rgba(233, 234, 241, 1),
        0 4px 6px -2px rgba(233, 234, 241, 0.5);
    border-radius: 0.5em;
    text-align: center;
    padding: 24px;
}

.people-card-small {
    display: inline-flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    align-items: center;
    margin: 0 24px 24px;
    box-shadow: 0 10px 15px -3px rgba(233, 234, 241, 1),
        0 4px 6px -2px rgba(233, 234, 241, 0.5);
    border-radius: 0.5em;
    padding: 24px;
    transition: transform 300ms ease;
    border: 2px solid #fff;
}

.people-card-small:hover {
    transform: translateY(-8px);
}

.people-card-small-active {
    border: 2px solid rgba(43, 19, 125, 1);
}

.people-card-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.people-card-img {
    object-fit: contain;
    height: 40px;
}

.people-card-name {
    margin: 0;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    color: #2a2c44;
}

.people-details {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.icon-container {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.people-detail {
    text-align: left;
    line-height: 24px;
    margin-left: 4px;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #656565;
    margin-bottom: 0;
}

.present-idea {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    margin-bottom: 48px;
}

.present-idea-image-wrapper {
    padding: 16px;
}

.present-idea-img {
    height: 260px;
    width: 260px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}
