.correspondents {
    margin-top: 96px;
    padding: 64px;
}

.correspondents-content {
    max-width: 66%;
    text-align: center;
    margin: 0 auto;
}

.correspondents-image {
    width: 100%;
    object-fit: contain;
    margin-top: 64px;
}

.correspondents-paragraph {
    color: #6d7084;
}
