.navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px 0 16px 32px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar-title {
    font-size: 44px;
    font-weight: 800;
}

.navbar-logo {
    background-image: url('../images/transparent-V2.png');
    display: block;
    height: 45px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    flex-grow: 1;

}
