.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: transparent;
}

.logo-wrapper {
  margin-right: auto;
}
.logo {
  font-family: "sifonn", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.logo-image {
  height: 30px;
  object-fit: contain;
  padding-right: 8px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  margin-top: 40px;
  margin-bottom: 60px;
}

.navbar-title {
  font-size: 20px;
  font-weight: 800;
}

.navbar-logo {
  display: block;
  height: 45px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
}

.navbar-item {
  font-size: 16px;
  color: #fff;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .logo {
    color: #fff;
  }

  .logo-image {
    height: 18px;
  }
}
