.navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: transparent;
}

.logo-wrapper {
    margin-right: auto;
}
.logo {
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    text-transform: lowercase;
}

.logo-image {
    height: 30px;
    object-fit: contain;
    padding-right: 8px;
}

.navbar {
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    margin-top: 40px;
    margin-bottom: 60px;
}

.navbar-title {
    font-size: 20px;
    font-weight: 800;
}

.navbar-logo {
    display: block;
    height: 45px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    flex-grow: 1;
}

.navbar-item {
    font-size: 16px;
    color: #fff;
}

.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-logo-wrapper {
    z-index: 10000;
}

.ant-drawer-close {
    color: #fff !important;
    font-size: 18px;
}

.mobile-drawer-header-img {
    object-fit: contain;
    height: 160px;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 767px) {
    .logo {
        color: #fff;
    }

    .logo-open {
        color: #2b137d;
    }

    .logo-image {
        height: 18px;
    }
    .ant-layout-header {
        padding: 0 18px !important;
    }
    .ant-drawer-header {
        padding: 64px 24px !important;
    }
}
