.why-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 64px;
  background-color: #dcf3fd;
}

.why-content {
  padding: 0 64px;
}

.why-text {
  font-size: 14px;
  line-height: 1.8em;
}

.why-image {
  flex: 0 0 40%;
  max-width: 40%;
}

@media (max-width: 767px) {
  .why-container {
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
  }

  .why-content {
    padding: 0 16px;
    text-align: center;
  }

  .why-image {
    max-width: 80%;
  }
}
